.popup {
    cursor: pointer;
  }
  
  .popup:active,
  .popup:active {
    background-color: #0277bd;
    color: #fff;
  }
  
  .popup-menu {
    position: absolute;
    top: 60px;
    right: calc(100vw - 90vw);
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fafafa;
    box-shadow: 0 0 10px 0 #c4c3d0;
    border-radius: 8px;
    padding: 20px;
    transition: all 150ms ease-in-out;
  }
  
  .popup-menu-visible ~ .popup-menu {
    visibility: visible;
    opacity: 1;
  }
  
  .popup-menu form {
    min-width: auto;
  }
  
  .popup-menu label {
    display: grid;
    color: #000;
  }
  
  .popup-menu input {
    min-width: auto;
  }
  